*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.eggs/
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
docs/_build
docs/modules.rst
docs/populus.rst
docs/populus.cli.rst
docs/populus.config.rst
docs/populus.migrations.rst
docs/populus.utils.rst
docs/populus.utils.*.rst
docs/populus.legacy.rst

# Blockchain
**/chains/*/nodes/*
**/chains/*/nodekey
**/chains/*/dapp/*
**/chains/*/chaindata/*

# Known Contracts
**/known_contracts.json

# Chains
/examples/**/chains/
.hypothesis
genesis.json
/chains/

# Config
/populus.ini
/populus.json
/populus.yml

# Test remnants
/logs/
/migrations/

# pytest
.cache/
.pytest_cache

# Editors
.idea/
