include LICENSE
include VERSION
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include populus/migrations/RegistrarV3.sol
include populus/migrations/RegistrarV4.sol
