include LICENSE
include VERSION
include README.md
include requirements.txt

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

include populus/assets/js/web3.js
include populus/assets/js/web3.js.map
include populus/templates/index.html
include populus/default_blockchain_password
include populus/genesis-test.json
