click>=5.1
contextlib2>=0.5.4
eth-testrpc>=0.6.0
ethereum-tester-client>=0.8.0
gevent>=1.1.1
py-geth>=1.1.0
py-solc>=0.3.0
pysha3>=0.3
pytest>=2.7.2
requests>=2.7.0
toposort>=1.4
watchdog>=0.8.3
web3>=1.7.0
