click>=5.0
https://github.com/ethereum/ethash/archive/v23.1.tar.gz
ethereum>=0.9.73
requests>=2.7.0
# Until https://github.com/ConsenSys/eth-testrpc/pull/16 is merged and released.
https://github.com/pipermerriam/eth-testrpc/archive/v0.1.15b.tar.gz
pytest==2.7.2
